.activities-card{
  margin-top:30px;

  padding:30px;

  border-radius:24px;

  background:
    linear-gradient(
      135deg,
      #111827,
      #0B1220
    );

  border:
    1px solid rgba(124,92,255,.15);

  box-shadow:
    0 10px 30px rgba(0,0,0,.25);

  transition:.3s;
}

.activities-card:hover{
  border-color:#00F5FF;

  box-shadow:
    0 12px 35px rgba(0,245,255,.12);
}

.activities-card h2{
  margin-bottom:25px;

  font-size:28px;
  font-weight:700;

  background:
    linear-gradient(
      90deg,
      #00F5FF,
      #7C5CFF
    );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.activity-item{
  display:flex;
  align-items:center;
  gap:16px;

  padding:18px 0;

  border-bottom:
    1px solid rgba(124,92,255,.12);

  transition:.3s;
}

.activity-item:hover{
  padding-left:8px;
}

.activity-item:last-child{
  border-bottom:none;
}

.activity-dot{
  width:12px;
  height:12px;

  border-radius:50%;

  background:
    linear-gradient(
      135deg,
      #00F5FF,
      #7C5CFF
    );

  box-shadow:
    0 0 12px rgba(0,245,255,.5);

  flex-shrink:0;
}

.activity-item p{
  color:#D4D4D8;
  font-size:15px;
  line-height:1.6;
}