.course-details-page{
display:flex;
min-height:100vh;
background:#0A0A0F;
color:white;
}

.course-details-content{
flex:1;
padding:35px;
}

.course-hero{
display:flex;
justify-content:space-between;
align-items:center;

padding:45px;

border-radius:30px;

background:
linear-gradient(
135deg,
rgba(196,138,82,.15),
rgba(196,138,82,.03)
);

border:1px solid rgba(255,255,255,.06);

margin-bottom:35px;
}

.course-left{
max-width:650px;
}

.course-tag{
color:#C48A52;
letter-spacing:2px;
font-size:12px;
}

.course-left h1{
font-size:60px;
margin-top:15px;
}

.course-left p{
margin-top:15px;
color:#A1A1AA;
line-height:1.8;
}

.course-right img{
width:250px;
}

.course-stats{
display:flex;
gap:40px;
margin-top:25px;
}

.course-stats h3{
color:#C48A52;
}

.course-stats span{
color:#A1A1AA;
}

.start-learning-btn{
margin-top:30px;

background:#C48A52;
color:white;

border:none;

padding:15px 28px;

border-radius:14px;

cursor:pointer;
}

.module-section h2{
margin-bottom:20px;
}

.module-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.module-card{
background:#12121A;

padding:25px;

border-radius:20px;

border:1px solid rgba(255,255,255,.05);

transition:.3s;
}

.module-card:hover{
transform:translateY(-5px);
border-color:#C48A52;
}

.module-card span{
display:block;
color:#C48A52;
margin-bottom:10px;
font-weight:700;
}

/* PROGRESS SECTION */

.progress-section{
margin-bottom:35px;
}

.progress-card{
padding:30px;

border-radius:24px;

background:
linear-gradient(
135deg,
rgba(255,255,255,.05),
rgba(255,255,255,.02)
);

border:
1px solid rgba(255,255,255,.06);
}

.progress-card h2{
margin-bottom:20px;
}

.progress-top{
display:flex;
justify-content:space-between;

margin-bottom:12px;

color:#E4E4E7;
}

.progress-bar{
height:12px;

border-radius:50px;

background:
rgba(255,255,255,.08);

overflow:hidden;
}

.progress-fill{
height:100%;

background:
linear-gradient(
90deg,
#C48A52,
#E0C3A3
);

border-radius:50px;
}

/* SKILLS */

.skills-section{
margin-bottom:35px;
}

.skills-section h2{
margin-bottom:20px;
}

.skills-grid{
display:grid;
grid-template-columns:
repeat(3,1fr);

gap:18px;
}

.skill-card{
padding:20px;

text-align:center;

border-radius:18px;

background:#12121A;

border:
1px solid rgba(255,255,255,.05);

transition:.3s;
}

.skill-card:hover{
transform:translateY(-4px);

border-color:#C48A52;
}

/* INSTRUCTOR */

.instructor-card{
margin-top:35px;

padding:30px;

border-radius:24px;

background:
linear-gradient(
135deg,
rgba(255,255,255,.05),
rgba(255,255,255,.02)
);

border:
1px solid rgba(255,255,255,.06);
}

.instructor-card h2{
margin-bottom:15px;
}

.instructor-card h3{
color:#C48A52;
margin-bottom:10px;
}

.instructor-card p{
color:#A1A1AA;
line-height:1.8;
}