*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Rajdhani', sans-serif;
  background:#050816;
  color:white;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}