.video-layout{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:25px;
}

.video-main{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.video-player{
  height:500px;

  overflow:hidden;

  border-radius:24px;

  border:1px solid rgba(255,255,255,.08);

  background:#12121A;
}

.video-player iframe{
  border:none;
}

.video-info{
  background:#12121A;

  border:1px solid rgba(255,255,255,.08);

  border-radius:20px;

  padding:25px;
}

.lesson-tag{
  background:rgba(196,138,82,.15);

  color:#C48A52;

  padding:8px 14px;

  border-radius:40px;

  font-size:13px;
}

.video-info h1{
  margin-top:20px;
  margin-bottom:15px;
}

.video-info p{
  color:#A1A1AA;
  line-height:1.8;
}

.progress-top{
  display:flex;
  justify-content:space-between;

  margin-top:25px;
  margin-bottom:10px;
}

.progress-bar{
  height:10px;
  background:#23232F;
  border-radius:50px;
}

.progress-fill{
  height:100%;

  border-radius:50px;

  background:linear-gradient(
    90deg,
    #C48A52,
    #E0C3A3
  );
}

.playlist-panel{
  background:#12121A;

  border:1px solid rgba(255,255,255,.08);

  border-radius:24px;

  padding:25px;

  height:fit-content;
}

.playlist-panel h2{
  margin-bottom:20px;
}

.lesson{
  padding:15px;

  border-radius:12px;

  margin-bottom:12px;

  background:#181821;

  cursor:pointer;

  transition:.3s;
}

.lesson:hover{
  border:1px solid #C48A52;
}

.lesson.active{
  background:rgba(196,138,82,.15);

  border:1px solid #C48A52;
}

.resources-section{
  margin-top:40px;
}

.resource-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.resource-card{
  background:#12121A;

  border:1px solid rgba(255,255,255,.08);

  padding:20px;

  border-radius:16px;

  cursor:pointer;

  transition:.3s;
}

.resource-card:hover{
  border-color:#C48A52;
}

/* LESSON ACTION BUTTONS */

.lesson-actions{
display:flex;
gap:15px;

margin-top:25px;
}

.prev-btn,
.next-btn{
padding:14px 22px;

border:none;

border-radius:14px;

cursor:pointer;

font-weight:600;

transition:.3s;
}

.prev-btn{
background:#23232F;
color:white;
}

.prev-btn:hover{
background:#2F2F3D;
}

.next-btn{
background:#C48A52;
color:white;
}

.next-btn:hover{
transform:translateY(-3px);
}

/* NOTES SECTION */

.notes-section{
margin-top:40px;
}

.notes-section h2{
margin-bottom:20px;
}

.notes-card{
padding:25px;

border-radius:20px;

background:#12121A;

border:
1px solid rgba(255,255,255,.08);
}

.notes-card p{
color:#D4D4D8;

margin-bottom:15px;

line-height:1.8;
}

.notes-card p:last-child{
margin-bottom:0;
}

/* COMPLETED LESSON */

.lesson.completed{
background:
rgba(34,197,94,.12);

border:
1px solid rgba(34,197,94,.25);
}

/* RESPONSIVE */

@media(max-width:1200px){

.video-layout{
grid-template-columns:1fr;
}

.playlist-panel{
order:-1;
}

.resource-grid{
grid-template-columns:1fr;
}

}

@media(max-width:768px){

.video-player{
height:300px;
}

.lesson-actions{
flex-direction:column;
}

.prev-btn,
.next-btn{
width:100%;
}

}